.header2 {
  font-weight: 500;
  font-size: 40px;
  margin-right: 5px;
}

.header3 {
  font-weight: 500;
  font-size: 30px;
}

.preview-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-header-description {
  width: 400px;
  margin: 0 80px;
}

.preview-header-description > h1 {
  text-align: center;
}

.preview-header-description > p {
  color: #666e87;
}

.icon-links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 10px;
}

.blue-bg {
  background-color: #ebeef5;
}

.blue-contents {
  margin: 0 100px;
  padding: 30px 0;
}

.blue-contents > h2 {
  margin-top: 0;
}

.emoji-statement {
  display: flex;
  align-items: center;
}

.subtitle {
  margin-bottom: 0;
  color: #666e87;
}

.contents > h3 {
  margin-top: 0;
}

.bold {
  font-weight: 600;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-text {
  color: #4e78f4;
}

.swiper-pagination-fraction {
  color: white;
}

@media (min-width: 1281px) {
  .contents {
    margin: 0 200px;
  }
  .preview-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .preview-header-description {
    width: 500px;
    margin: 0 80px;
  }
  .blue-contents {
    margin: 20px 200px;
    padding: 30px 0;
  }
}

@media (min-width: 10001px) and (max-width: 1280px) {
  .contents {
    margin: 0 100px;
  }
  .preview-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .preview-header-description {
    width: 400px;
    margin: 0 80px;
  }
  .blue-contents {
    margin: 20px 100px;
    padding: 30px 0;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .contents {
    margin: 0 80px;
  }
  .preview-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .preview-header-description {
    width: 400px;
    margin: 0 80px;
  }
  .blue-contents {
    margin: 20px 80px;
    padding: 30px 0;
  }
}

@media (min-width: 768px) and (max-width: 1000px) and (orientation: landscape) {
  .contents {
    margin: 0 80px;
  }
  .preview-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .preview-header-description {
    width: 400px;
    margin: 0 80px;
  }
  .blue-contents {
    margin: 20px 80px;
    padding: 30px 0;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .contents {
    margin: 0 50px;
  }
  .header2 {
    font-weight: 500;
    font-size: 30px;
    margin-right: 5px;
  }
  .header3 {
    font-weight: 500;
    font-size: 20px;
  }
  .preview-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .preview-header-description {
    width: 400px;
    margin: 0 80px;
  }
  .blue-contents {
    margin: 20px 50px;
    padding: 30px 0;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .contents {
    margin: 0 20px;
  }
  .header2 {
    font-weight: 500;
    font-size: 30px;
    margin-right: 5px;
  }
  .header3 {
    font-weight: 500;
    font-size: 20px;
  }
  .preview-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .preview-header-description {
    width: 350px;
    margin: 0 80px;
  }
  .blue-contents {
    margin: 20px 20px;
    padding: 30px 0;
  }
}
